@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
html, body {
    height: 100%;
    background-color: #121742;
}
.header-tabla{
    margin-top: 50px!important;
}
.separacion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 992px){
    .separacion {
        width: initial;
    }   
}
.bloque-nav{
    display: flex;
    align-items: center;
    gap: 100px;
}
.colecciones-button{
    padding: 10px 20px;
    background: #dc4d30;
    color: white;
    border-radius: 10px;
    transition: .5s ease all;
}
.colecciones-button:hover{
    padding: 10px 20px;
    background: white;
    color: #dc4d30!important;
    border-radius: 10px;
}
.container-home{
    padding-top: 150px;
    padding-bottom: 150px;
}

/* Estilos nav */
.navbar{
    padding: 20px 100px 20px 100px;
    background-color: #161c52!important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    margin-bottom: 150px;
    z-index: 9999;
}
 .logo {
    max-width: 170px;
 }
 .navegacion{
    display: flex;
    gap: 50px;
 }
 
 .navegacion a {
    font-size: 22px;
    color: white;
    transition: all .3s ease;
 }
 .navegacion a:hover{
    color: #F91818;
 }

 .usuario img{
    max-width: 65px;
 }
 .nav-mobile{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100vh;
    transition: all .5s ease;
 }
 .nav-mobile.active{
    top: 0;
    z-index: 999;
    background: #161c52!important;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .navegacion-mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
 }
 .navegacion-mobile a{
    font-size: 22px;
    color: white;
    transition: all .3s ease;
 }
 .navegacion-mobile a:hover{
    color: #F91818;
 }
 @media (max-width: 992px){
    .navbar{
        padding: 20px 20px 20px 20px;
    }
    .navegacion {
        display: none;
    }
    .usuario{
        display: none;
    }
 }
 /* Estilos hero */
 .imagenes{
    padding: 100px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
 }
.imagenes .studios{
    max-width: 280px;
    margin-right: 40px;
}
.imagenes .logo-spiderman{
    max-width: 450px;
}
.imagenes .noway{
    max-width: 429px;
}
.texto-hero{
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
}
.boton-more-info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.boton-more-info a {
    background: #FFFFFF;
    border-radius: 50px;
    color: #32383e;
    padding: 20px 48px;
    font-style: italic;
    font-weight: 500;
}
.boton-more-info span{
    background: #FFFFFF;
    border-radius: 50px;
    color: #32383e;
    padding: 20px 48px;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}
.imagen-black-spidey{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}
.black-spidey{
    width: 100%;
    max-width: 500px;
    max-height: 580px;
}

/* Estilos página canciones */
.container-canciones{
    padding-top: 150px;
}
.inputclass{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    border-radius: 8px;
}
.miformulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.boton-submit{
    background: #FFFFFF;
    border-radius: 50px;
    color: #32383e;
    padding: 20px 48px;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}
#resultado{
    color: white;
    margin-bottom: 100px;
}
/* Estilos tabla */
.col{
    color: white;
}
.header-tabla-hide{
    display: none;
}
.header-tabla .col{
    border: 1px solid white;
    background: #d43c3c;
}

#instance .col{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col img{
    margin: 20px 0;
}
.col audio{
    max-width: 251px;
}

/* Estilos del blog */

.container-blog{
    padding-top: 150px;
    padding-bottom: 100px;
}
.container-blog h1{
    color: white;
    text-align: center;
}

.post-category{
    display: none;
}
.post-date{
    color: white;
}
.post-thumbnail img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 8px;
}
.post-title a{
    color: white;
}
.entry p{
    color: white;
}
.post-inner{
    /* Shorthand de margin-top/margin-right/margin-bottom/margin-left */
    margin: 50px 150px 100px 100px;
}

/* Estilos para peliculas */
.peliculas{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-bottom: 100px;
}
.peliculas .pelicula{
    background: rgba(255, 255, 255, 0.158);
    border-radius: 8px;
    color: white;
    padding: 0 50px 0 0;
    margin-bottom: 50px;

}

.peliculas .pelicula .imagen-datos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    color: white;
}
.peliculas .pelicula .imagen-datos .datos{
    flex: 1 0 0;
}
.peliculas .pelicula .imagen-datos .valoracion{
    border-bottom: 1px solid white;
    font-size: 20px;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.peliculas .pelicula .imagen-datos .resto-datos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.peliculas .pelicula .imagen-datos img{
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}
.peliculas .pelicula .descripcion{
    padding: 30px 15px 20px 15px;

}
@media (max-width: 992px){
    .peliculas .pelicula .imagen-datos{
        flex-wrap: wrap;
        gap: 0;
    }
    .peliculas .pelicula .imagen-datos img{
        width: 100%;
        max-width: 100%;
    }
    .peliculas .pelicula{
        padding: 0 0 0 0;
    }
    .peliculas .pelicula .imagen-datos .datos{
        padding: 30px 15px 20px 15px;
    }
}