@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
html, body {
    height: 100%;
    background-color: #121742;
}
form {
    margin: 20px;
}
.form-body {
    border: 2px solid white;
    border-radius: 16px;
    width: 70%;
    margin: 100px auto;
}
@media (max-width:800px) {
    .form-body{
        width: 80%;
    }

}
.form-body p, .form-body h2 {
    color: white;

}
.form-body h2 {
    margin-top: 30px;
}


.contenido h2, .contenido p {
    text-align: center;
}


.enlaces {
    display: flex;
    justify-content: space-evenly;
}

.enlaces a{
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
    margin-bottom: 30px;
}

.enlaces a:hover{
    background-color: #4ac46e;
    color: white;
    font-weight: 500;
}
th,td {
    text-align: center;
}
td {
    border: 1px solid white;
}
th {
    border: 2px solid white;
}
.table {
    width: 80%;
    margin: top;
    margin-left: auto;
    margin-right: auto;
}

.formulario-login {
    width: 32%;
    margin: 0 auto;
    min-height: 688px;
}
.formulario-login label {
    color: white;
    font-family: Poppins;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
.title {
    width: 80%;
    margin: 0 auto;
    color: white;
    background: #32383e;
}

.title p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
    padding: 20px 0;
}
.mb-3 select {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 39px;
}
h3,th {
    color: white;
}
.form-body-galeria{
    margin: 10px auto 50px auto!important;
}
.color-white {
    color: white;
}
form label{
    color: white;
}
.separacion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bloque-nav{
    display: flex;
    align-items: center;
    gap: 100px;
}
.colecciones-button{
    padding: 10px 20px;
    background: #dc4d30;
    color: white;
    border-radius: 10px;
    transition: .5s ease all;
}
.colecciones-button:hover{
    padding: 10px 20px;
    background: white;
    color: #dc4d30!important;
    border-radius: 10px;
}


/* Estilos nav */
.navbar{
    padding: 20px 100px 0 100px;
    background-color: #121742!important;
}
 .logo {
    max-width: 170px;
 }
 .navegacion{
    display: flex;
    gap: 50px;
 }
 .navegacion a {
    font-size: 22px;
    color: white;
    transition: all .3s ease;
 }
 .navegacion a:hover{
    color: #F91818;
 }
 .usuario img{
    max-width: 50px;
 }

 /* Estilos hero */
 .imagenes{
    padding: 100px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
 }
.imagenes .studios{
    max-width: 280px;
    margin-right: 40px;
}
.imagenes .logo-spiderman{
    max-width: 450px;
}
.imagenes .noway{
    max-width: 429px;
}
.texto-hero{
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
}
.boton-more-info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.boton-more-info a {
    background: #FFFFFF;
    border-radius: 50px;
    color: #32383e;
    padding: 20px 48px;
    font-style: italic;
    font-weight: 500;
}
.boton-more-info span{
    background: #FFFFFF;
    border-radius: 50px;
    color: #32383e;
    padding: 20px 48px;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}
.imagen-black-spidey{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}
.black-spidey{
    width: 100%;
    max-width: 500px;
    max-height: 580px;
}

/* Estilos página canciones */
.container-canciones{
    padding-top: 100px;
}
.inputclass{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    border-radius: 8px;
}
.miformulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.boton-submit{
    background: #FFFFFF;
    border-radius: 50px;
    color: #32383e;
    padding: 20px 48px;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}
#resultado{
    color: white;
}