<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Marvel in Tune{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Load static para que cargue la carpeta static -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="icon" type="image/png "href="{% static 'images/favicon.png' %}" >

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="separacion">
            <a class="navbar-brand" href="{% url 'index' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt=""></a>
            <div class="bloque-nav">
                <div class="navegacion">
                    <a href="{% url 'index' %}"">Home</a>
                    <a href="{% url 'buscador' %}"">Buscador</a>
                    <a href="{% url 'blog' %}">Blog</a>
                </div>
                <div class="usuario">
                    <a href="{% url 'index' %}"><img src="{% static 'images/alvaro.png' %}" alt=""></a>
                </div>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="nav-mobile">
        <div class="bloque-nav-mobile">
            <div class="navegacion-mobile">
                <a href="{% url 'index' %}"">Home</a>
                <a href="{% url 'buscador' %}"">Buscador</a>
                <a href="{% url 'blog' %}">Blog</a>
            </div>
            <div class="usuario">
                <a href="{% url 'index' %}"><img src="{% static 'images/alvaro.png' %}" alt=""></a>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}

</body>

</html>