{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container container-canciones">
    <div class="row">
        <div class="col-lg-12">
            <form class="miformulario" action="" id="miFormulario">
                <input class="inputclass" type="text" value="" placeholder="Introduzca un titul">
                <input class="boton-submit" type="submit" value="Confirmar">
            </form>
        </div>
        <div class="col-lg-12">
            <div class="row mt-2 header-tabla header-tabla-hide" id="header"><div class="col">Titulo</div><div class="col">Subtitulo</div><div class="col">Image</div><div class="col">Reproducir</div></div>
            <div id="resultado"></div>
        </div>
    </div>
</div>
{% endblock %}